.multistep {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;

  .mb_24 {
    margin-bottom: 24px;
  }

  .selectedName{
    text-align: start;
    height: 30px;
    line-height: 30px;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
  }
}