.main {
  position: relative;
  height: 500px;
  overflow: hidden;
  .projectTypeSelected {
    position: absolute;

    margin-right: 10px;
    border-right: 1px solid black;
    width: 100px;

    .selected {
      color: red;
    }
  }

  .config {
    margin-left: 120px;
    overflow-y: scroll;
    padding-right: 30px;
    height: 460px;
  }
}
